<div class="row">

  <div class="col-12">

    <div class="card o-hidden">

      <ngx-datatable
      style="height: calc(100vh - 270px); box-shadow: none;"
      class="material fullscreen"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="60"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [limit]="10"
      [rows]="hours"
      (activate)="test($event)">
        <ngx-datatable-column name="date" [width]="120" [maxWidth]="350">
          <ng-template ngx-datatable-header-template>
            Date
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Hours" [width]="120">
          <ng-template ngx-datatable-header-template>
            Hours
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <button type="button" class="btn btn-primary-o">Test</button>
        </ngx-datatable-column>
      </ngx-datatable>

    </div>

  </div>

</div>

<ng-template #editHourModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modal Basic</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="picker1">Date picker</label>
        <div class="input-group">
          <input id="picker1" class="form-control" placeholder="yyyy-mm-dd" name="dp">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="icon-regular i-Calendar-4"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
