<div class="row">

  <div class="col-12">

    <div class="card o-hidden">

      <ngx-datatable
      style="height: calc(100vh - 270px); box-shadow: none;"
      class="material fullscreen"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="60"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [limit]="10"
      [rows]="hours"
      (activate)="test($event)">
        <ngx-datatable-column name="date" [width]="120" [maxWidth]="350">
          <ng-template ngx-datatable-header-template>
            Date
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Hours" [width]="120">
          <ng-template ngx-datatable-header-template>
            Hours
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <button type="button" class="btn btn-primary-o">Test</button>
        </ngx-datatable-column>
      </ngx-datatable>

    </div>

  </div>

</div>